body {
  font-family: "Arial", sans-serif;

  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-container {
  margin: auto;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 30px 40px;
  width: 450px;
}

.title {
  font-size: 2rem;
  color: #1d3557;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 2px solid #457b9d;
  padding-bottom: 10px;
}

.signup-form label {
  display: block;
  font-size: 1rem;
  color: #333;
  margin-bottom: 8px;
  font-weight: 600;
}

.signup-form input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ced4da;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 1rem;
  background-color: #f8f9fa;
  transition: border-color 0.3s;
  box-sizing: border-box; /* Ensures padding is included in width */
}

.signup-form input:focus {
  border-color: #009dff;
  outline: none;
}
.signup-form select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ced4da;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 1rem;
  background-color: #f8f9fa;
  transition: border-color 0.3s;
  box-sizing: border-box; /* Ensures padding is included in width */
}

.signup-form select:focus {
  border-color: #009dff;
  outline: none;
}

.radio-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

.radio-group label {
  font-size: 1rem;
  color: #555;
  cursor: pointer;
}

.signup-form input[type="radio"] {
  margin-right: 5px;
}

.password-group {
  display: flex;
  align-items: center;
  position: relative;
}

.password-group input {
  flex: 1;
}

.toggle-password {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: -35px;
  margin-top: -20px;
  padding: 0;
  color: #457b9d;
}
.btns {
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.signup-form button {
  background-color: #1d3557;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  border: #1d3557 1px solid;

  transition: background-color 0.3s;
}
.submit-button {
  background-color: #1d3557;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.3s;
}
.signup-form .cancel-btn {
  background-color: white;
  color: #1d3557;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.3s;
  border: #1d3557 1px solid;
}

.signup-form button:hover {
  background-color: #457b9d;
}
.signup-form .cancel-btn:hover {
  background-color: #457b9d;
  color: white;
}

.error-message {
  background-color: #e63946;
  color: white;
  font-size: 1rem;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.db-error {
  position: top;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  padding: 15px;
  font-size: 16px;
  margin-bottom: 20px;
}
.success {
  position: top;
  background-color: #d7f8e2;
  color: #1c8527;
  border: 1px solid #d7f8e2;
  border-radius: 5px;
  padding: 15px;
  font-size: 16px;
  margin-bottom: 20px;
}
